---

import RightCard from "./rightCard.astro";
import LeftCard from "./leftCard.astro";
import cardItems from "content/contentItems/cardItems";
---

<div class="max-w-full">
  {
    cardItems.map((item, index) => (
      index % 2 === 0 ? 
      <LeftCard videoSrc={item.videoSrc} title={item.title} oneWord={item.oneWord} description={item.description} /> : 
      <RightCard videoSrc={item.videoSrc} title={item.title} oneWord={item.oneWord} description={item.description}  />
    ))
  }
</div>