---
const { videoSrc, title, oneWord, description } = Astro.props;
---

<div class="h-full place-items-center bg-white py-8">
  <div
    class="container items-center justify-between flex sm:gap-24 max-sm:flex-col max-sm:w-[20rem]">
    <div class="flex max-sm:order-1 max-sm:w-[20rem] w-[50%]">
      <video
        controls={false}
        autoplay
        loop
        muted
        playsinline
        height="296"><source src={videoSrc} type="video/mp4" /></video
      >
    </div>
    <div class="text-center lg:text-left max-sm:w-[20rem] w-[50%]">
      <div
        class="flex items-center max-sm:justify-center lg:justify-start font-medium text-sm mb-5">
        {oneWord}
      </div>
      <div
        class="mb-8 text-blackGrey leading-tight text-2xl font-bold">
        {title}
      </div>
      <div class="font-normal">
        {description}
      </div>
    </div>
  </div>
</div>
