---
// @ts-ignore
import { Picture } from "astro:assets";
import ToyotaIcon from "assets/Toyota_logo.png";
import Kiwibot from "assets/Kiwibot.png";
import LG from "assets/LG_Logo.png";
import ElroyAir from "assets/ElroyAir.png";
import AMD from "assets/AMD_Logo.png";
import Bosch from "assets/Bosch-logo.png";

const logoInfo = [
  {
    alt: "Toyota",
    link: "https://www.toyotaforklift.com",
    src: ToyotaIcon,
    width: 134,
  },
  {
    alt: "Kiwibot",
    link: "https://www.kiwibot.com/",
    src: Kiwibot,
    width: 134,
  },
  {
    alt: "LG Electronics",
    link: "https://www.lg.com/us/business/robots",
    src: LG,
    width: 134,
  },
  {
    alt: "Bosch",
    link: "https://www.bosch.us/",
    src: Bosch,
    width: 134,
  },
  {
    alt: "Elroy Air",
    link: "https://elroyair.com",
    src: ElroyAir,
    width: 134,
  },
  {
    alt: "AMD",
    link: "https://www.amd.com/en.html",
    src: AMD,
    width: 134,
  },
];
const logoTitle = "Companies Using Nav2";
---

<div class="mt-24 flex flex-col items-center justify-center">
  <h2 class="text-center text-slate-500">{logoTitle}</h2>
  <div class="relative flex flex-row sm:w-full overflow-x-hidden">
    <div
      class="py-12 sm:animate-marquee whitespace-nowrap sm:flex items-center">
      {
        logoInfo.map((item) => (
          <a href={item.link} class="mx-10">
            <Picture
              alt={item.alt}
              width={item.width}
              src={item.src}
              loading="eager"
              format="png"
            />
          </a>
        ))
      }
    </div>
    <div
      class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap sm:flex hidden items-center">
      {
        logoInfo.map((item) => (
          <a href={item.link} class="mx-10">
            <Picture
              alt={item.alt}
              src={item.src}
              loading="eager"
              format="png"
              width={item.width}
            />
          </a>
        ))
      }
    </div>
  </div>
</div>
